<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rayy.android.fake"
    android:versionCode="20"
    android:versionName="3.0">

    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-feature android:name="android.hardware.telephony" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />

    <application
        android:icon="@drawable/fack2"
        android:label=""
        android:theme="@style/MyMaterial">

        <!-- BroadcastReceiver that listens for incoming SMS messages -->
        <receiver
            android:name=".extern.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>

        <!-- BroadcastReceiver that listens for incoming MMS messages -->
        <receiver
            android:name=".extern.MmsReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>

        <service
            android:name=".extern.HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>

        <activity
            android:name=".Login"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".Fake2" />
        <activity android:name=".FakeSMS" />
        <activity android:name=".FakeCall" />-->
        <activity
            android:name=".Setting"
            android:label="@string/label_setting"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Help"
            android:label="@string/help_title"
            android:parentActivityName=".Home" />
        <!-- <activity android:name=".FakeViewPager" /> -->
        <!-- <activity android:name=".CallFragment" />
        <activity android:name=".SmsFragment" /> -->
        <!-- <activity android:name=".LogFragment" /> -->
        <receiver android:name=".AlarmReceiver" />
    </application>

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

</manifest> 
